---
- name: Configure plugins repository (yum)
  yum_repository:
    name: "foreman-plugins-{{ foreman_scap_client_release }}"
    description: "Foreman plugins repository"
    baseurl: "{{ foreman_scap_client_repo_url }}"
    gpgcheck: "{{ foreman_scap_client_repo_gpg }}"
    gpgkey: "{{ foreman_scap_client_repo_key }}"
    state: "{{ foreman_scap_client_repo_state }}"
  when: ansible_os_family == "RedHat"

- name: Configure plugins repository (apt)
  apt_repository:
    repo: "{{ foreman_scap_client_apt_repo_url }}"
    state: "{{ foreman_scap_client_repo_state }}"
  when: ansible_os_family == "Debian"

- name: Set facts for deb-based OS
  set_fact:
    package_name: >-
      {{ (foreman_scap_client_package | length > 0)
      | ternary(foreman_scap_client_package,'ruby-foreman-scap-client') }}
  when: ansible_os_family == "Debian"

- name: Set facts for rpm-based OS for obsolete package
  set_fact:
    package_name: >-
      {{ (foreman_scap_client_package | length > 0)
      | ternary(foreman_scap_client_package,'rubygem-foreman_scap_client') }}
  when: foreman_scap_client_obsolete and (ansible_os_family == "RedHat" or ansible_os_family == "Suse")

- name: Set facts for rpm-based OS
  set_fact:
    package_name: >-
      {{ (foreman_scap_client_package | length > 0)
      | ternary(foreman_scap_client_package,'foreman_scap_client_bash') }}
  when: (not foreman_scap_client_obsolete) and (ansible_os_family == "RedHat" or ansible_os_family == "Suse")

- name: Install the foreman_scap_client package
  package:
    name: "{{ package_name }}"
    state: "{{ foreman_scap_client_state }}"

- name: Get certificate paths
  foreman_scap_client_facts:
  changed_when: false
  register: rh_certs

- name: Set facts for rh certs
  set_fact:
    rh_ca_cert_path: "{{ (rh_certs.paths | from_json).get('rh_ca_cert_path') }}"
    rh_consumer_cert_path: "{{ (rh_certs.paths | from_json).get('rh_consumer_cert_path') }}"
    rh_consumer_private_key_path: "{{ (rh_certs.paths | from_json).get('rh_consumer_key_path') }}"

- name: Create cron in /etc/cron.d/
  template:
    src: "{{ foreman_scap_client_cron_template }}"
    dest: /etc/cron.d/foreman_scap_client_cron
    owner: root
    group: root
    mode: '0644'

- name: Create config.yaml in /etc/foreman_scap_client for obsolete package
  template:
    src: templates/config.yaml.j2
    dest: /etc/foreman_scap_client/config.yaml
    owner: root
    group: root
    mode: '0644'
  when: foreman_scap_client_obsolete

- name: Create config in /etc/foreman_scap_client
  template:
    src: templates/config.j2
    dest: /etc/foreman_scap_client/config
    owner: root
    group: root
    mode: '0644'
  when: not foreman_scap_client_obsolete

- name: Ensure cron and config are {{ foreman_scap_client_state }}
  file:
    path: "{{ item }}"
    state: "{{ 'absent' if foreman_scap_client_state == 'absent' else 'file' }}"
    owner: root
    group: root
    mode: '0644'
  with_items:
    - /etc/cron.d/foreman_scap_client_cron
    - "{{ (foreman_scap_client_obsolete) | ternary('/etc/foreman_scap_client/config.yaml', '/etc/foreman_scap_client/config') }}"
